/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Mode Support & Typography */
body {
    background-color: var(--surface-ground);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* Drag & Drop Animations Speed */
.cdk-drag-animating {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.cdk-drag-placeholder {
    opacity: 0.3;
    background: rgba(200, 200, 200, 0.2);
    border: 2px dashed #ccc;
    box-sizing: border-box;
    border-radius: 8px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: white;
    z-index: 1000 !important;
}