/* Estilos específicos para el componente de gestión de lavadores */
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.75rem 1rem;
}

:host ::ng-deep .p-dialog .p-dialog-content {
    padding: 1.5rem;
}

:host ::ng-deep .p-password {
    width: 100%;
}

:host ::ng-deep .p-password input {
    width: 100%;
}

