/* Custom Table Styles */
::ng-deep .p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
    background-color: #f9fafb;
}

::ng-deep .p-datatable-striped .p-datatable-tbody > tr:hover {
    background-color: #eff6ff !important;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background-color: #f9fafb;
    border-bottom: 2px solid #e5e7eb;
    font-weight: 600;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    border-bottom: 1px solid #f3f4f6;
}

::ng-deep .p-datatable .p-datatable-tbody > tr:last-child > td {
    border-bottom: none;
}

